:root {
  --text-primary: #224451;
  --text-secondary: #2f6f76;
  --text-danger: rgb(249, 93, 122);
  --text-gryed-out: #rgb(99, 115, 120);
  --background-grey: #fafafa;

  --font-size-standard: 1rem;
  --font-size-small: 0.75rem;
  --font-size-large: 1.25rem;
}
