@import "./mixins.scss";

.product-filters > * {
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;

  .card {
    display: flex;
    flex-direction: column;

    .description {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.4rem;

      .title-wrapper {
        flex: 1;
      }
    }

    .product-image {
      aspect-ratio: 1 / 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .old-price-line-through {
      @include text-small-description;
      text-decoration: line-through;
      color: var(--text-gryed-out);
      font-weight: 500;
      font-size: var(--font-size-small);
    }

    .new-price {
      font-size: var(--font-size-large);
      font-weight: 900;
      color: var(--text-danger);
    }

    .title-text {
      margin: 0.2rem auto;
    }

    .details-wrapper {
      display: flex;
      font-size: var(--font-size-small);

      .rating-wrapper,
      .delivery {
        display: flex;
        align-items: center;
      }

      span {
        margin: auto 0.3rem;
      }
    }
  }
}
